*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: hsl(0, 0%, 100%);
  --clr-dark: hsl(0, 0%, 19%);
  --clr-accent: hsl(102, 53%, 77%);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);

  /* line-height: 1.6; is generally a good value */
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  /* Setting images to display: block; gets rid of some common issues with images, and setting the max-width: 100% prevents them from overflowing their parents */
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
  color: rgb(116, 45, 231);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 1em 2.5em;
  cursor: pointer;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.075);
}

/* Typography */

h1,
h2,
h3 {
  /* In case headings break onto a second line */
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
  font-weight: var(--fw-bold);
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* Header */

header {
  margin: 0 auto;
  /* background-color: var(--clr-accent); */
  padding-bottom: 3px;
}

@media (min-width: 600px) {
  header {
    max-width: 800px;
  }
}

.nav {
  color: var(--clr-dark);
}

.nav__list {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: space-evenly;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
}

.nav__link img {
  height: 30px;
}

@media (min-width: 400px) {
  .nav .nav__link {
    font-size: var(--fs-body);
  }
}

@media (min-width: 600px) {
  .nav .nav__link,
  .nav__link img {
    font-size: var(--fs-body);
    height: 40px;
  }
}

@media (min-width: 800px) {
  .nav .nav__link {
    font-size: var(--fs-h3);
  }
}

/* Intro section */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    text-transform: uppercase;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* About me section */

.about-us {
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (min-width: 600px) {
  .about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title img"
      "text img";
    grid-column-gap: 2em;
    max-width: 800px;
  }

  .about-me__img {
    box-shadow: var(--bs);
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* our recipes section */

.our-recipes {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  padding: 2em 0;
}

.more-recipes__btn {
  text-align: center;
}

.portfolio {
  margin: 0 auto;
}

.portfolio__item {
  margin: 0 auto 4em;
  height: fit-content;
}

.portfolio__text {
  block-size: fit-content;
  padding: 4em 3em 1em;
  border-radius: 5px;
  transition: box-shadow 3000ms;
}

.portfolio__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img-1 paragraph-1"
      "paragraph-2 img-2";
    grid-column-gap: 4em;
    grid-row-gap: 4em;
    max-width: 800px;
  }

  .portfolio__item-1 {
    grid-area: img-1;
    border: 1px solid magenta;
  }

  .portfolio__text-1 {
    grid-area: paragraph-1;
    border: 1px solid magenta;
  }

  .portfolio__item-2 {
    grid-area: img-2;
    border: 1px solid magenta;
  }

  .portfolio__text-2 {
    grid-area: paragraph-2;
    border: 1px solid magenta;
  }
}

/* latest video section */

.latest-video {
  background-size: cover;
  color: var(--clr-dark);
  background-blend-mode: multiply;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
}

.service__text {
  text-align: left;
}

.section__title--video {
  color: var(--clr-dark);
  position: relative;
}

.services {
  margin-bottom: 3em;
}

.service {
  margin: 3em auto 0;
  max-width: 500px;
}

@media (min-width: 600px) {
  .latest-video {
    display: flex;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

/* Footer */

.footer {
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-align: center;
  padding: 1em 0;
  font-size: var(--fs-h3);
  max-width: 800px;
  margin: 0 auto;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1.5em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  /* this padding is to make clicking on the links with a finger a little bit easier */
  padding: 0.5em;
}
